<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @dados_inportacao_cnab.tipo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @dados_inportacao_cnab.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @dados_inportacao_cnab.valor %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @dados_inportacao_cnab.cpf %>
</p>

<p>
  <strong>Cartao:</strong>
  <%= @dados_inportacao_cnab.cartao %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @dados_inportacao_cnab.hora %>
</p>

<p>
  <strong>Dono da loja:</strong>
  <%= @dados_inportacao_cnab.dono_da_loja %>
</p>

<p>
  <strong>Nome loja:</strong>
  <%= @dados_inportacao_cnab.nome_loja %>
</p>

<%= link_to 'Edit', edit_dados_inportacao_cnab_path(@dados_inportacao_cnab) %> |
<%= link_to 'Back', dados_inportacao_cnabs_path %>
